
* {
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    color: #333;
}

.sidebar {
    width: 220px;
    position: fixed;
    height: 100%;
    background: linear-gradient(180deg, #667eea, #764ba2);
    color: #25a9aa;
    padding: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    margin: 12px 0;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar a:hover {
    background: rgba(101, 97, 186, 0.2);
}


.main {
    margin-left: 250px; 
        padding: 30px;      
}


.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.btn, button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover, button:hover {
    background-color: #0056b3;
}

.login {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(42, 238, 245);
}

.err {
    color: #dc3545;
    font-size: 14px;
}
h2 {
    color:black;
    text-align: center;
}